:root {
  --primary-color: rgba(46, 47, 66, 1);
  --text-color: rgba(67, 68, 85, 1);
  --accent-color: rgba(77, 90, 229, 1);
  --our-team-color: rgba(244, 244, 253, 1);
  --footer-logo-color: rgba(244, 244, 253, 1);
  --footer-text-color: rgba(231, 233, 252, 1);
  --button-unactive: rgba(244, 244, 253, 1);
  --button-active: rgba(64, 75, 191, 1);
  --button-active-text: rgba(255, 255, 255, 1);
  --h1-coolor: rgba(244, 244, 253, 1);
  --body-back: #ffffff;

}

body {
  background-color: var(--body-back);
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
 
}

/* ________________---------BASE--------______________ */
.list {
  list-style: none;
}

.unline {
  text-decoration: none;
}

.unline:hover,
.unline:focus {
  color: var(--primary-color);
}

.navy {
  color: var(--primary-color);
}

.textcolor {
  color: var(--text-color);
}

.hiddenvisaily {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ________________---------BASE--------______________ */

/* ________________---------MAIN--------______________ */

.back-hero-foooter {
  background-color: var(--primary-color);
}

.section-hero {
  color: var(--h1-coolor);
}

.section-team {
  background-color: var(--our-team-color);
}
.footer-text {
  color: var(--footer-text-color);
}

/* .site-nav .unline.current {
color: deeppink;
}  */

/* ________________---------MAIN--------______________ */

/* ________________---------BUTTONS--------______________ */

.button-hero {
  background-color: var(--accent-color);
  color: var(--button-active-text);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.button.secondary {
  background-color: var(--button-unactive);
  color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--button-active);
  color: var(--button-active-text);
 
}

/* ________________---------FONTS--------______________ */

.logo {
  color: var(--primary-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--footer-logo-color);

}
.site-nav-listed {
  font-weight: 500;
  line-height: 1.5;
}
.contacts {
  font-style: normal;
  line-height: 1.5;
}

.hero-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.header-feat {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text-feat {
  font-size: 16px;
  line-height: 1.5;
}
.header-wawd {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.header-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.header-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text-team {
  line-height: 1.5;
}

.footer-text {

  line-height: 1.5;}
/* ________________---------FONTS--------______________ */