:root {
  --primary-color:rgba(46, 47, 66, 1);
  --text-color:rgba(67, 68, 85, 1);
  --accent-color:rgba(77, 90, 229, 1);

}

body {
  background-color: #ffffff;
}

/* hero h1 color background: rgba(255, 255, 255, 1); */

/* p color background: rgba(67, 68, 85, 1); */

/* h2 h3 color background: rgba(46, 47, 66, 1); */

/* footer text rgba(231, 233, 252, 1); */

/* accent background: rgba(77, 90, 229, 1); */

/* hero footer background: rgba(46, 47, 66, 1); */

/* section 3 background background: rgba(244, 244, 253, 1);  */

/* ________________---------BASE--------______________ */
.list {
  list-style: none;
}

.unline {
  text-decoration: none;
}

.unline:hover,
.unline:focus {
  color: tomato;
}

.navy {
  color: var(--primary-color)
}

.textcolor {
  color: var(--text-color);
}

/* ________________---------BASE--------______________ */


.back-hero-foooter {
  background-color: rgba(46, 47, 66, 1);
}

.section-hero {
  color: rgba(244, 244, 253, 1);
}

.hero-foot-back {
  background-color: rgba(46, 47, 66, 1);
}
.section-team {
  background-color: rgba(244, 244, 253, 1);
}

/* .site-nav .unline.current {
color: deeppink;
}  */

/* ________________---------BUTTONS--------______________ */

.button {
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 1);
  cursor:pointer;
}


.button.secondary {
  background-color: rgba(244, 244, 253, 1);
  color: var(--accent-color);
  cursor: pointer;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 1);
}


/* ________________---------BUTTONS--------______________ */
